h1 {
  background-color: black;
  padding: 20px;
  color: salmon;
  font-style: italic;
  text-align: center;
  font-size: 3.0em;
  font-family: "Righteous", sans-serif;
  width: 100%;
  margin:0;
}

nav{
background-color:salmon;
color:black;
padding:10px;
width:100%;
text-decoration:none;
margin-right:0px;
}
nav a{
  padding:5px;
  margin:10px;
  text-decoration: none;
  color:black;
}
img {
display: block;
margin:auto;
margin-bottom:40px;
margin-top: 40px;
}
ul {
  list-style-type: none;
  margin:0;
  list-style-type: none;
}
hr {
  border: 1px solid black; 
  margin: 20px 0; 
}
footer {
  background-color:lightgray;
  padding:30px;
  text-align:center;
}

  thead th{
    background:grey;
    color:white;
    border:none;
  }
  th, td {
    border:1px solid black;
    padding:10px;
    text-align: center;
    font-weight: bold;
  }
  #salesTableBody {
    background-color: salmon;
  margin:0 auto;
  }
  #sales{
    margin:0 auto;
    border-collapse: collapse;
  }
  tfoot {
    background:grey;
    color:white;
  }
/
#newStoreForm {
  margin-bottom: 40px; 
 width:auto;
  display:flex;
  flex-direction: row;
  border:1px solid black;
  padding:20x;
}

legend {
  color:salmon;
  font-weight: bold;
}

#newStoreForm fieldset {
  border: none; 
  display:flex;
  flex-direction: row;
  border:1px solid black;
  padding:2px;
  margin:20px;
  width:auto;
}

#newStoreForm label {
  display:inline-block; 
  width: 150px; 
  text-align: right; 
  margin-right: 5px; 
}


#newStoreForm input[type="text"],
#newStoreForm input[type="number"],
#newStoreForm button {
  display: flex;
  flex-direction: row;
  width: 150px;
  margin-right: 5px; 
}


#newStoreForm button {
  padding: 5px 10px; 
}

